body {
  min-height: 100vh;
  background-color: rgb(120, 160, 159);
  font-family: "Montserrat";
}

.title {
  font-family: "Rockinsoda";
  font-size: 7.5rem;
  text-align: center;
  color: #eec084;
  margin-top: 4rem;
}

/* BOXES */

.boxes {
  // max-width: 70%;
  margin: auto;
  margin-top: 5rem;
  // justify-content: center;
  // align-items: center;
  // flex-direction: row;
  @include flex(center, center, row);
}

.box {
  @include flex(center, center, row);
  min-height: 12rem;
  min-width: 12rem;
  margin: 0.2rem;
  //background-color: #f8e6cf;
  border: 0.2rem solid #eecda1;
  border-radius: 2.5rem;
  cursor: pointer;
  img {
    max-width: 75%;
  }
}

.result {
  font-family: "Rockinsoda";
  text-align: center;
  color: #f3b86a;
  max-width: 30%;
  margin: auto;
  margin-top: 3rem;
  p {
    font-size: 3.5rem;
    text-align: center;
  }
}

.circle {
  img {
    min-width: 70%;
  }
}

// .cross,
// .circle {
//   padding: 2.5vh 2.1vh;
// }

.box:hover {
  background-color: #eecda1;
}

/* RESTART BUTTON */
.button {
  @include flex(center, center, column);
  margin: 10rem 0rem;
  button {
    border: none;
    padding: 1rem 5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 10rem;
    transition: transform 0.3s;
    color: #eec084;
    display: flex;
    background-color: rgb(243, 251, 252);
  }
  button:hover {
    transform: scale(1.1);
  }
}

.restart {
  max-width: 30%;
  margin-left: 1rem;
}
